---
import Layout from "../layouts/Layout.astro";
import Header from "@components/Header.astro";
import Hero from "@components/Hero.astro";
import EmailLogo from "@components/svgs/social/EmailLogo.astro";
import GitHubLogo from "@components/svgs/social/GitHubLogo.astro";
import LinkedInLogo from "@components/svgs/social/LinkedInLogo.astro";
import Experience from "@components/Experience.astro";

import type { JobInfo, SocialLink } from "@components/types";

const socialLinks: SocialLink[] = [
  {
    href: "https://www.linkedin.com/in/thgear27/",
    icon: LinkedInLogo,
    label: "LinkedIn",
  },

  {
    href: "https://github.com/Thgear27",
    icon: GitHubLogo,
    label: "GitHub",
  },

  {
    href: "#",
    icon: EmailLogo,
    label: "Email me",
  },
];

const jobs: JobInfo[] = [
  {
    title: "Full Stack Developer",
    company: "Akou",
    date: "Jul - Nov 2024",
    location: "London, UK",
    description:
      "I developed responsive layouts, dynamic menus, and secure authentication, improved UI elements, and implemented a validated CSV import system while collaborating with a designer.",
  },
  {
    title: "Full Stack Developer",
    company: "Modular Rocks",
    date: "Nov 2023 - Nov 2024 ",
    location: "Londrom, UK",
    description:
      "I integrated the GitHub API, implemented secure authentication with OAuth, and used SSR in Astro. I also worked with AST for code manipulation, wrote tests for quality, and incorporated Figma design concepts.",
    workTeamates: [
      {
        name: "Antony Faris",
        imgURL: "/imgs/antonyfaris.webp",
      },
      {
        name: "Jean Pierre Rodríguez",
        imgURL: "/imgs/jeanpierre.webp",
      },
    ],
  },
  {
    title: "Full Stack Developer",
    company: "Coneimera",
    date: "Nov 2023 - Nov 2024",
    location: "Lima, Peru",
    description:
      "I designed the XXX - CONEIMERA website, built a secure backend with RLS in Supabase, integrated a payment gateway, and developed an admin panel for managing registrations and payments.",
  },
];
---

<Layout>
  <main>
    <Header />
    <Hero {socialLinks} />
    <Experience {jobs} />
  </main>
</Layout>

<style>
  main {
    overflow-x: clip;
  }
</style>
