---
import Layout from "../layouts/Layout.astro";
import Header from "@components/Header.astro";
import Hero from "@components/Hero.astro";
import Experience from "@components/Experience.astro";
import AboutMe from "@components/AboutMe.astro";
import TechStack from "@components/TechStack.astro";

import { aboutParagraphs, jobs, socialLinks, techStackInfo } from "./_information";
---

<Layout>
  <main>
    <Header />
    <Hero {socialLinks} />
    <Experience {jobs} />
    <AboutMe paragraphs={aboutParagraphs} />
    <TechStack {techStackInfo} />
  </main>
</Layout>

<style>
  main {
    overflow-x: clip;
  }
</style>
