---
import Navbar from "./Navbar.astro";
import type { NavbarOption } from "./types";

type Props = {
  navbarOptions: NavbarOption[];
  currentLanguage: string;
};

const { navbarOptions, currentLanguage } = Astro.props;
---

<header>
  <Navbar options={navbarOptions} {currentLanguage} />
</header>
<div class="spacer"></div>

<style>
  .spacer {
    display: block;
    height: 74px;
    width: 100%;
  }

  header {
    position: fixed;
    width: 100%;
    z-index: 1000;

    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  @media (max-width: 768px) {
    .spacer {
      height: 90px;
    }

    header {
      background-color: rgba(18, 38, 44);
    }
  }
</style>
