---
import SectionTitle from "./ui/SectionTitle.astro";
import Sparkle from "./svgs/Sparkle.astro";
import type { TechSectionInformation } from "./types";

type Props = {
  techStackInfo: TechSectionInformation;
};

const { techStackInfo } = Astro.props;
---

<section id="tech-stack">
  <div class="content wrapper">
    <SectionTitle title="Tech Stack" subtitle="Technologies I've been using" />

    <div class="tech-stack-info">
      {
        techStackInfo.techStack.map((category) => {
          return (
            <div class="category">
              <div class="title">
                <Sparkle />
                <h3>{category.title}</h3>
              </div>
              <div class="techs">
                {category.techs.map((tech) => {
                  return (
                    <div class="tech">
                      {tech.icon && <tech.icon />}
                      <h4>{tech.name}</h4>
                    </div>
                  );
                })}
              </div>

              <div class="circle-light" />
            </div>
          );
        })
      }
    </div>

    <div class="other-techs">
      <p>Other Technologies:</p>
      <div class="other-techs-list">
        {
          techStackInfo.otherTechs.map((tech) => {
            return (
              <div>
                <span class="tech">{tech.name}</span>
              </div>
            );
          })
        }
      </div>
    </div>

    <div class="circle-gradient-left"></div>
  </div>
</section>

<style>
  section {
    padding: var(--section-spacing) 0;
    position: relative;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: var(--section-spacing);
  }

  .tech-stack-info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .category {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
    border: 1px solid var(--light-15);
    border-radius: 18px;
    background-color: var(--dark-15);
    position: relative;
  }

  .tech-stack-info .title {
    display: flex;
    gap: 0.75rem;
  }

  .tech-stack-info .title h3 {
    font-size: 1.25rem;
    font-family: var(--font-title);
    color: var(--light-90);
  }

  .techs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    gap: 2rem;
  }

  .tech {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 0.5rem;
  }

  .tech h4 {
    font-size: 0.875rem;
    font-family: var(--font-body);
    font-weight: normal;
    color: var(--light-70);
    text-align: center;
    text-wrap: nowrap;
  }

  .other-techs {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .other-techs-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 0.5rem;
  }

  .other-techs-list span {
    font-size: 0.875rem;
    font-family: var(--font-body);
    color: var(--light-90);
    text-align: center;
    background-color: var(--dark-15);
    padding: 0 1rem;
    border-radius: 100px;
    border: 1px solid var(--light-30);
  }

  .circle-light {
    --width: 300px;
    --height: 300px;

    width: var(--width);
    height: var(--height);
    position: absolute;

    right: calc(var(--width) / -2);
    top: calc(var(--width) / -2);

    z-index: 2;
    background: radial-gradient(circle at center, rgba(198, 252, 166, 0.1) 0%, rgba(0, 0, 0, 0) 70%);
  }

  @media (max-width: 768px) {
  }
</style>
