---
import SectionTitle from "./ui/SectionTitle.astro";
import Sparkle from "./svgs/Sparkle.astro";
import type { TechCategory } from "./types";

type Props = {
  techStack: TechCategory[];
};

const { techStack } = Astro.props;
---

<section id="tech-stack">
  <div class="content wrapper">
    <SectionTitle title="Tech Stack" subtitle="Technologies I've been using" />

    <div class="categories">
      {
        techStack.map((category) => {
          return (
            <div class="category">
              <div class="title">
                <Sparkle />
                <h3>{category.title}</h3>
              </div>
              <div class="techs">
                {category.techs.map((tech) => {
                  return (
                    <div class="tech">
                      <tech.icon />
                      <h4>{tech.name}</h4>
                    </div>
                  );
                })}
              </div>

              <div class="circle-light" />
            </div>
          );
        })
      }
    </div>

    <div class="circle-gradient-left"></div>
  </div>
</section>

<style>
  section {
    padding: var(--section-spacing) 0;
    position: relative;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: var(--section-spacing);
  }

  .categories {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .category {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
    border: 1px solid var(--light-15);
    border-radius: 18px;
    background-color: var(--dark-15);
    position: relative;
  }

  .categories .title {
    display: flex;
    gap: 0.75rem;
  }

  .techs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    gap: 2rem;
  }

  .tech {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 0.5rem;
  }

  .tech h4 {
    font-size: 0.875rem;
    font-family: var(--font-body);
    font-weight: normal;
    color: var(--light-70);
    text-align: center;
    text-wrap: nowrap;
  }

  .circle-light {
    --width: 300px;
    --height: 300px;

    width: var(--width);
    height: var(--height);
    position: absolute;

    right: calc(var(--width) / -2);
    top: calc(var(--width) / -2);




    z-index: 2;
    background: radial-gradient(circle at center, rgba(198, 252, 166, 0.1) 0%, rgba(0, 0, 0, 0) 70%);
  }

  @media (max-width: 768px) {
  }
</style>
